body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    background: rgba(30, 30, 30, 0.1);
}

.website-width {
    margin: 0 140px 0 140px;
}

/* ====================
    Header Section Style        
======================= */

header {
    background: rgba(255, 144, 14, 0.1);
}

.header-container {
    padding: 33px 0 35px 0;
}

/* Nav Style */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}

/* Banner Style */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.banner h1 {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    color: #131313;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 5px;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.banner img {
    width: 100%;
}

/* ================
    Main Style      
=================== */

/* Feature Section Style */

.feature-container {
    padding: 85px 20px 130px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 73px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-images img {
    width: 100%;
}

.feature-description {
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.feature-items {
    width: 400px;
}

.feature-items h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #131313;
}

.feature-items h1 .gray-mark {
    color: #727272;
}

.feature-items h1 .yellow-mark {
    color: #FF900E;
}

.feature-items p {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #727272;
}

/* Feature Preference Section Style  */

.feature-preference {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 54px;
}

.feature-preference-heading {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.product-description {
    font-weight: 400;
    font-size: 10.5px;
    line-height: 26px;
    color: #727272;
}

.feature-preference-heading>h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

.G3-products {
    margin-top: 30px;
}

.G3-product {
    background: #FFFFFF;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
}

.feature-preference-image {
    position: relative;
}

.feature-preference-image img {
    width: 100%;
}

#big-btn {
    width: 180px;
    height: 60px;
    padding: 30px 30px;
    position: absolute;
    top: 550px;
    left: -100px;

}

#big-btn h1 {
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

#big-btn h5 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


/* Some Facts Section Style */

.facts-container {
    margin-top: 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
    color: #131313;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 542px;
    margin-bottom: 100px;
}

.facts-items {
    display: flex;
    justify-content: space-around;
}

.facts-item {
    width: 160px;
    height: 160px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s
}

.facts-item:hover {
    transform: rotate(360deg);
}

.facts-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts-item img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

}

.facts-item h3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 53px;
    color: #424242;
    margin: 0;
    padding: 0;
    text-align: center;
}

.facts-item p {
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    color: #727272;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Order Section Style */

.order-container {
    margin-top: 100px;
}

.form-section {
    color: #FFFFFF;
    background-color: burlywood;
    padding: 20px 50px;
    margin-top: -60px;
}

.form-input {
    display: block;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.checkbox-area {
    margin-top: 40px;
    margin-bottom: 40px;
}

.checkbox-area h4 {
    font-size: 20px;
    margin-top: 20px;
}

textarea {
    width: 500px;
    padding: 10px 20px;
}

input[type="submit"] {
    margin-right: 30px;
}

/* Sponsor Section Style */
.sponsors-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.sponsors-container h2 {
    text-align: center;
}

.sponsors-container p {
    text-align: center;
    margin-left: 270px;
}

.sponsors-name {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}

.sponsors-name img {
    width: 105px;
    height: 35px;
}

/* ===================
    Footer Style 
=======================*/

footer {
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 30px 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}