body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

.website-width {
    margin: 0 140px 0 140px;
}

/* ====================
    Header Style        
======================= */

header {
    background: rgba(255, 144, 14, 0.1);
}

.header-container {
    padding: 33px 0 35px 0;
}

/* Nav Style */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 53px;
    text-align: center;
    color: #131313;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}

/* Banner Style */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.banner h1 {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    color: #131313;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 5px;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.banner img {
    width: 100%;
}